
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    width:12em; 
     border: 5px rgb(16, 46, 211) solid;
     padding: 5px;
     margin: 5px;
     position: absolute; bottom: 200px; right: 20%;
}

#two{
    width:10em; 
     border: 5px rgb(19, 170, 19) solid;
     padding: 5px;
     margin: 5px;
     position: absolute; top: 40px; right: 20%;
}

#three{
    width:10em; 
     border: 5px rgb(228, 77, 7) solid;
     padding: 5px;
     margin: 5px;
     position: absolute; top: 40px; left: 20%;
}

#four{
    width:10em; 
     border: 5px #e4e007 solid;
     padding: 5px;
     margin: 5px;
     position: absolute; bottom: 200px; left: 20%;
}

a:link {
background-color: #4936f4;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute; top: 40px;left: 45%;
}